@import url('https://fonts.googleapis.com/css?family=Francois+One|Baloo+Chettan|Pacifico|Acme');

$alabaster: #FCFCFC;
$not-white: #eee;
$cloud: #5682c9;
$mountain: #121c37;
$sky: #45a9fe;
$sunny-mountain: #ffd476;
$sunny-mountain-shadow: #d58040;
$facebook-color: #3b5998;
$linkedin-color: #0077B5;

body, html {
  margin: 0px;
  padding: 0px;
  background-color: $alabaster;
}

::-webkit-scrollbar {
    display: none;
}

// Navigation
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  color: white;
}

.navbar {
  position: relative;
  height: 80px;
  width: 100%;
  transition: 0.5s ease;
  .nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    margin-right: 5%;
    .item {
      list-style: none;
      display: inline-block;
      font-size: 18px;
      padding: 5px;
      font-weight: 400;
      line-height: 80px;
      margin-right: 20px;
      transition: 0.5s ease;
      &:hover {
        background-color: white;
        color: $mountain;
      }
      a {
        text-decoration: none;
        color: inherit;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

.scrolled {
 transition: 0.5s ease;
}

.scrolled.navbar {
  height: 50px;
  background-color: $mountain;
  transition: 0.5s ease;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.scrolled.navbar .nav .item {
  line-height: 20px;
  transition: 0.5s ease;
}

section {
  &:not(#home){
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

// Fixed Backgrounds on Scroll
.background {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: -10px 0 8px -8px black, 10px 0 8px -8px black;
  // border: 1px solid black;
  min-height: 95vh;
  width: 100%;
  background-color: $not-white;
  /*The Sections*/
 &:before{

 }
 &:nth-child(2) {
   background-image: url('../img/header.jpg');
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
 }
 &:nth-child(4) {
   background-color: $mountain;
 }
}

#home {
  color: $not-white;
  -webkit-text-stroke: 2px black;
  text-align: center;
  font-family: 'Baloo Chettan';
  h1 {
    top: auto;
    bottom: auto;
    font-size: 60px;
    font-weight: 700;
  }
  p {
    font-size: 34px;
    font-weight: 700;
  }
}

.underline {
  display: inline-block;
  border-bottom: 2px solid $mountain;
}

#about {
  color: white;
  background-color: $mountain;
  font-family: Acme;
  text-align: center;
  min-height: 30vh;
  h1 {
    text-align: center;
    margin-bottom: 2em;
  }
  p {
    font-size: 20px;
  }
  img
  {
    width: 100%;
    height: auto;
    box-shadow: 0 0 8px 8px $alabaster inset;
  }
}

#experience {
  color: $mountain;
  background-color: $not-white;
  text-align: center;
  font-family: Acme;
  h3 {
    font-size: 30px;
    font-weight: 700;
  }
  h4 {
    font-size: 24px;
    font-weight: 700;
  }
  li {
    font-size: 20px;
    font-weight: 700;
  }
  .col-md-6 {
    text-align: center;
  }
  .row {
    padding-bottom: 5%;
  }
  .divider {
    border-left: 2px solid $mountain;
  }
}

#portfolio {
  color: white;
  background-color: $mountain;
  text-align: center;
  font-family: Acme;
  .row {
    margin-bottom: 30px;
  }
}

#skills {
}

#contact {
  min-height: 20vh;
  color: $mountain;
  font-family: Acme;
  text-align: center;
  .underline {
    margin-bottom: 50px;
  }
  h2 {
    text-align: left;
  }
  p {
    text-align: left;
    font-size: 20px;
  }
  a {
    text-align: left;
  }
  i {
    text-align: center;
    width: 75px;
    height: 75px;
    padding: 10px;
    margin: 10px;
  }
  #free-code-camp {
    width: 85px;
    height: 75px;
    padding-left: 5px;
    padding-right: 5px;
    color: darkgreen;
    &:hover {
      color: white;
      background-color: darkgreen;
    }
  }
  #facebook {
    color: $facebook-color;
    &:hover {
      color: white;
      background-color: $facebook-color;
    }
  }
  #linkedin {
    color: $linkedin-color;
    &:hover {
      color: white;
      background-color: $linkedin-color;
    }
  }
  #github {
    color: black;
    &:hover {
      color: white;
      background-color: black;
    }
  }
}
